/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;

}

ul#navBarList li{
  color: violet;
}




    
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
  background-image: url(/assets/img/generic/back.jpg);
  padding: 90px;
  color: white;
}

#title{
  color: white;
  font-weight: bold;

}
    
/* Add a gray background color and some padding to the footer */
/*
ul#genres {
  list-style : none;
  
}
*/

#carousell{
  display: inline-block;
  color : green;
}
.carousel-inner {

  margin: auto;
  text-align: center;
  align-items: center;  
}

.list-group {
  color:rgb(0, 0, 0);
}






body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.description {
  left: 15%;
  right: 15%;
  top: 15%;
  text-align: center;
}

.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}

.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}



.backLink a:link{
  text-align: left;
  width: 100%;
  color:#FFF;
}
.backLink a:visited{
  text-align: left;
  width: 100%;
  color:#FFF;
}
.backLink a:hover{
  text-align: left;
  width: 100%;
  color:rgb(137, 61, 139);
}
.backImg{
  height: 42px;
  width: 42px;
  filter: invert(100%);
}
.backImg:hover{
  height: 42px;
  width: 42px;
  filter: invert(50%);
}



.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  
}

.content-back-image {
  background-image: url(/assets/img/header-bg.jpg) ;

  background-size: cover;
  display: block;

  left: 0;
  position: relative;
  right: 0;

  padding: 70px 0;
  color:#FFF;
  text-align: center;
}

.content-back-image button{
  border:1px solid #4d3b47;
  background:#3e3f3d;
  border-radius: 0;
  color:#fff;
  margin-top: 10px;
  
}
/*
.list-group-item{
  max-height: 20px,
}
*/


.listItem img{
  width: 100%;
  max-height: 90%;
}

#listButtons { 
  text-align: end; 
  align-items: end;  
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  bottom: 10%;
  left: 0;
  right:0;
}

#listButtons button{     
  margin-left: 5%;
  
}

#flex_genres{
  color: violet;
}


.list-group-horizontal .list-group-item {
  display: inline-block;
  width:33.3%;
  height:5%;
 text-align:center
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px; 
  margin: 5px 0 22px 0; 
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}




#books{
  text-align: center;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2px 16px;
}

.categoria{
  color: #343a40;
  padding: 50px 0px 30px 20px;
  font-style: oblique;
  font-size: 200%;
}

.categoria a{
  font-size: 40%;
  color: #343a40;
  margin-left: 15px;
}

.rowGenre{
  margin-left: 2%;
  margin-right: 2%;
  background-color: #343a40;
  color: white;
}
.rowGenre .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 50%;
  height: 30%;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rowGenre .card h3{
  font-size: 110%;
}

.rowGenre .card a{
  font-size: 90%;
}

footer{
  background-color: #343a40;
  margin-top: 50px;
  text-align: center;
}

footer h4{
  margin-top: 50px;
  margin-bottom: 50px;
  
  color: white;

}
footer a{
  color: white;
}
footer li{
  margin-top: 15px;
  margin-bottom: 15px;
}
footer ul{
  margin-top: 50px;
  margin-bottom: 100px;
  list-style: none;
  color: white;
}














/* ADJUSTING THE PAGE FOR THE RESOLUTIONS */




/* Extra Large size screen */
@media (min-width: 1500px) {
  #listButtons { 
    text-align: end; 
    align-items: end;  
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    bottom: 10%;
    left: 0;
    right:0;
  }
  .listMainData{
    display:inline;
  }

  .description {
    left: 15%;
    right: 15%;
    top: 15%;
    text-align: center;
  }
  .listItem{
    max-width: 70%;
  }
}
/* Large Size screen */
@media (max-width: 1499px) and (min-width: 1000px) {
  #listButtons { 
    text-align: end; 
    align-items: end;  
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    bottom: 10%;
    left: 0;
    right:0;
  }
  .listMainData{
    display:inline;
  }

  .description {
    left: 15%;
    right: 15%;
    top: 15%;
    text-align: center;
  }

  .listItem{
    max-width: 80%;
  }
}


/* Mid Size screen */
@media (max-width: 990px) and (min-width: 700px) {
  #listButtons {
    position: relative; 
    text-align: end; 
    align-items: end;
    margin-top: 5px;  
    margin-left: 10%;
    margin-right: 10%;
    bottom: 0%;

  }
  .listMainData{
    display:inline;
  }
  .description {
    left: 5%;
    right: 5%;
    top: 15%;
    text-align: center;
  }
  .listItem{
    max-width: 90%;
  }

  
}


/* Small Size screen */
@media (max-width: 700px) {
  #listButtons {
    position: relative; 
    text-align: end; 
    align-items: end;
    margin-top: 5px;  
    margin-left: 10%;
    margin-right: 10%;
    bottom: 0%;

  }
  .listMainData{
    display:none;
  }
  .description {
    left: 5%;
    right: 5%;
    top: 15%;
    text-align: center;
  }

  .listItem{
    max-width: 90%;
  }

 
}